.colorbarra{
    background-color: #1F2643;
    color: white;
}

#ejemplo{
    background-color: #1F2643;
    color: white;
}

#inge{
    color: #3592E0;
}

.titulo_moral{
    color: #1468AE;
}

.contenido_moral{
    text-align: left;
    font-size: 16px; 
}